@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    margin:0;
    padding:0;
    background:#eee;
    font-size:16px;
    color:#222;
    font-family: 'Quicksand', sans-serif;
}
* {
    box-sizing:border-box;
}


